*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height:300vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*background-color:#e5dfda;*/
    background-color: #252525;

}

.nav-bar{
    background-color: #d53435;
    padding:0;
    border: solid 0px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: autos;
}

 .nav-container a{
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.nav-container ul{
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.nav-container li{
    margin-right: 25px;
    padding-bottom: 15px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 30px;
    color:white;
}


.side-bar img{
    width: 25vh;
    height: 30px;
    display: block;
    margin-left: 10px; 

}

/*.nav-container input{
    width: 20rem;
    outline-color: transparent;
    height: 35px;
    text-align: center;
    border-radius: 25px;
    padding-top: 10px;
}*/

.nav-container li:hover{
    text-decoration:l;
    border:  0px solid black;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
    border-radius: 10px;
    text-decoration: underline;
}

.agents h2{
    text-align: center;
    margin-top: 100px;
    color: aliceblue;
    font-size: 50px;
    cursor: default;
}

.container-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 70px;
    font-size: 30px;
}

.box-card{
    width: 300px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.1);
    margin: 50px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.box-card:hover{
    transform: translateY(-20px);
}

.box-card img{
    width: 100%;
    height: auto;
}

.box-card a{
    text-decoration: none;
}

.box-card p{
    text-align: center;
    padding-bottom: 7px;
    padding-top: 7px;
    line-height: 1.5;
    color: black;
}

.box-card .maps{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 5px;
    line-height: 1;
}

.container-home{
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;
}

.box-home{
    position: relative;
    top: 100px;
    width: 500px;
    border: 0 solid;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
    margin: 50px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.box-home img{
    width: 100%;
    height: 40vh;
}

.box-home a{
    text-decoration: none;
}

.box-home h2{
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
}

.box-home:hover{
    transform: translateY(-20px);
}

.box-home h2:hover{
    text-decoration: underline;
}

@media (max-width: 624px) {

    .nav-container{
        display: block;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
    }

    .nav-container ul a {
        display: block;
    }
    .nav-container li {
        font-size: 30px;
        margin: 0;
    }

    .side-bar img{
        display: block;
        width: 20vh;
        height: 25px;
        margin-top: 10px;
    }

    .nav-bar{
        position: static;
    }
}

@media (max-width:706px) {
    .nav-container{
        display: block;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
    }

    .nav-container ul a {
        display: block;
    }
    .nav-container li {
        font-size: 30px;
        margin: 0;
    }

    .side-bar img{
        display: block;
        width: 20vh;
        height: 25px;
        margin-top: 10px;
    }

    .nav-bar{
        position: static;
    }
}

@media (max-width:500px) {
    .box-home{
        width: 400px;
        padding-bottom: 5px;
    }
}

@media (max-width:400px) {
    .box-home{
        width: 300px;
    }
}



